<div id="<%= dom_id publication %>">
  <div class="p-3 publication m-2">
    <p>
      <strong>Title:</strong>
      <%= publication.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= publication.body %>
    </p>

    <p><small>Autor: <%=publication.user.name%></small></p>
  </div>


</div>
