<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<h1>Publications</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Show this publication", publication %>
    </p>
  <% end %>
</div>

<%= link_to "New publication", new_publication_path %>

<script>
  const csrf_token = document.querySelector('meta[name="csrf-token"]').content

  async function create_reaction(rtype, publication_id) {

    const respuesta = await fetch('/reactions/create', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrf_token
      },
      body: JSON.stringify({
        rtype: rtype,
        publication_id: publication_id
      }),
    })

    $(`#publication_${publication_id} .reaction span.reaction-btn`).toggleClass('d-none')
    // ahora aumento en 1 el número de likes
    update_num_likes(publication_id, 1)
  }

  function update_num_likes(publication_id, ammount) {
    let num_likes = $(`#publication_${publication_id} span.count`).text()
    num_likes = parseInt(num_likes)
    $(`#publication_${publication_id} span.count`).text(num_likes + ammount)
  }
  
  async function destroy_reaction(rtype, publication_id) {

    const respuesta = await fetch('/reactions/destroy', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrf_token
      },
      body: JSON.stringify({
        rtype: rtype,
        publication_id: publication_id
      }),
    })
    $(`#publication_${publication_id} .reaction span.reaction-btn`).toggleClass('d-none')
    update_num_likes(publication_id, -1)
  }
</script>
